:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  color: #202024;
  background-color: #f5f5f5;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

#header {
  background-color: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 1rem 2.4rem;
}

.header-container h1 {
  font-weight: 800;
  font-size: 2.4rem;
  position: relative;
}

.header-container h1::after {
  content: '';
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #ff6b6c;
  position: absolute;
  bottom: 0.4rem;
  right: -1rem;
}

.navbar,
.navbar ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navbar ul {
  display: none;
}

.navbar,
.navbar form {
  display: flex;
  flex: 1;
}

.navbar form {
  display: none;
}

.navbar ul li {
  font-weight: 700;
}

.navbar ul li:first-child {
  color: #8d8d99;
}

/* This is for accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* ************************ */

.navbar input {
  flex: 1;
  padding: 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid #ebeaed;
  background-color: #f5f4f6;
  color: #170c3a;
  font-size: 1.4rem;
  font-weight: 400;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.5;
  background: #eee;
}

.header-container img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  font-size: 2.4rem;
  text-align: center;
  margin: 3.6rem 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.card img:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: grayscale(0.5);
}

.card-description {
  padding: 2.2rem;
  height: auto;
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}

.card-description h3 {
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.card-description p {
  font-weight: 400;
  font-size: 1.4rem;
  color: #8d8d99;
  margin-bottom: 3.2rem;
}

.card-description a {
  font-weight: 400;
  font-size: 1.2rem;
  background-color: #ff6b6c;
  color: #ffffff;

  padding: 0.8rem;
  border-radius: 0.6rem;
}

.card-description a:hover {
  background-color: #e75a5b;
  cursor: pointer;
}

.card-description a + a {
  background-color: #f5f5f5;
  color: #202024;
}

.card-description a + a:hover {
  background-color: #ebeaed;
}

.footer {
  background-color: #ffffff;
  padding: 1.6rem;
  color: #323238;
  font-weight: 600;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .container {
    max-width: 70rem;
    margin: 0 auto;
  }
  .header-container {
    padding: 1rem 0;
  }
  .header-container h1 {
    margin-right: 3.2rem;
  }
  .navbar ul {
    display: flex;
  }
  .navbar form {
    display: flex;
  }
  h2 {
    text-align: left;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 6.4rem;
  }
  .card {
    border-radius: 0.8rem;
    height: 100%;
    /* overflow: hidden; */
  }
}

@media (min-width: 992px) {
  #header {
    display: block;
  }
  .container {
    max-width: 92rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 112rem;
  }
}
